language: node_js

node_js:
  - "8.9.3"

#branches:
#  only:
#  - master

before_install:


install:
  - npm install -g --silent @angular/cli # install angular cli
  - npm install #install all dependencies

script:
  - ng lint
  - echo "This is a environment: $HELLO"
  - ng build --prod
