language: node_js

node_js:
  - "8.9.3"

branches:
  only:
  - master

install:
  - npm install -g firebase-tools
  - npm install -g --silent @angular/cli # install angular cli
  - npm install #install all dependencies

before_script:
  - ng lint

script:
  - ng build --prod

after_success:
  - firebase deploy --token "$FIREBASE_TOKEN"
  - echo "The web is deploy it in: oshop-1544b.firebaseapp.com"

